html,
body {
	height: 100%;
}

/*body {*/
/*	padding-left: 90px;*/
/*}*/

/*.hero-section{*/
/*	width: 100%;	*/
/*}*/

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 110px;
	padding-bottom: 105px;
}

/*---------------------
   Hero section
 -----------------------*/

.hero-section {
	height: 100%;
}

.pana-accordion-item,
.hero-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	position: relative;
}

.pana-accordion-item.active:after,
.hero-item.active:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	background: black;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8211659664) 0%, rgba(0, 0, 0, 0) 94%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.hero-slider-warp {
	height: 100%;
	display: none;
}

.hero-slider {
	height: 100%;
}

.hero-slider .pana-accordion-item,
.hero-slider .hero-item {
	height: 100%;
}

.hero-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	padding: 0 15px;
}
